{% extends 'layout.html.twig'%}

{%set pageTitle = 'Espace membre'%}

{% block content%}

    <div class="blockMember col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
       <h1 class="ion-ios-list-outline"> Informations du compte </h1>
       <div class="listInfos">
           <ul>
               <li>email :{{global.session.get('user')['email']}}
               </li>
               <li>name :{{global.session.get('user')['name']}}
               </li>
               <li>firstname :{{global.session.get('user')['firstname']}}
               </li>
               <li>address :{{global.session.get('user')['adresse_line']}}
               </li>
               <li>ville :{{global.session.get('user')['address_city']}}
               </li>
           </ul>
       </div>
    </div>



{% endblock %}
